* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    margin: 0;
}

.main {
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope';
}

.card {
    height: 250px;
    width: 650px;
    display: flex;
}

.card-image {
    height: 250px;
    width: 250px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem;
    position: relative;
}

.card-content-heading {
    font-size: 1.25rem;
    color: #3e3f40;
    font-weight: bold;
    margin: 0;
}

.card-content-details {
    font-size: 0.8125rem;
    color: #656461;
}

.card-content-contact {
    display: flex;
    height: 40px;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.card-content-contact-info {
    font-size: 0.8125rem;
    width: 80%;
    font-weight: bold;
    padding-left: 15px;
}

.card-content-contact-info p:first-child {
    color: #3e3f40;
    margin: 0;
    font-weight: bold;
}

.card-content-contact-info p:last-child {
    color: #656461;
    margin-top: 0.25rem;
}

.share-icon {
    width: 15px;
    height: 15px;
}

.share-icon-background {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 1s;
    transform: rotate(0deg);
}

.share-icon-background-transition {
    transform: rotate(360deg);
    background-color: hsl(217, 19%, 35%);
}

.action-state-popup{
    width: 225px;
    height: 50px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    right: -15%;
}

.action-state-popup p {
    width: 100px;
    letter-spacing: 5px;
    color: hsl(214, 17%, 51%);
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.action-state-popup-triangle {
    width: 15px;
    height: 15px;
    background-color: hsl(217, 19%, 35%);
    transform: rotate(45deg);
    position: absolute;
    top: 40px;
}

@media screen and (max-width: 375px) {
    /* Mobile css */

    .card {
        height: 80%;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .card-image {
        height: 250px;
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }

    .card-content {
        border-top-right-radius: 0;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .card-content-heading {
        font-size: 0.9rem;
    }

    .card-content-details {
        font-size: 0.78rem;
    }

    .mobile-action-state-popup{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        justify-content: flex-start;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 200px;
        height: 70px;
        padding-left: 15px;
    }

    .mobile-share-icon-action-state {
        position: absolute;
        z-index: 2;
        right: 30px;
        bottom: 20px;
    }
}

.toggle-display {
    display: none;
}